/* producto.css */

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

header {
  height: 80px;
  flex-shrink: 0;
}

.producto-info-page {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}

.producto-container {
  background-color: #f8f8f5;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  width: 100%;
  text-align: center;
}

.producto-title {
  font-size: 2rem;
  font-family: "Archivo Black", sans-serif;
  margin-bottom: 20px;
  color: #23306A;
}

.producto-info p {
  font-size: 1.3rem; 
  line-height: 1.4;
  margin-bottom: 15px;
}

.producto-info strong {
  color: #888127;
}

.producto-image-container {
  margin-bottom: 20px;
}

.producto-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  border: 1px solid #23306A;
}

.product-counter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-family: 'Sora', sans-serif;
}

.counter-button {
  background-color: #23306A;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 1.5rem;
  margin: 0 10px;
}

.counter-button:hover {
  background-color: #888127;
}

.counter-display {
  font-size: 1.5rem;
  padding: 0 15px;
  color: #23306A;
}

.cta-button {
  background-color: #b3ad70;
  color: white;
  padding: 17px 50px;
  text-decoration: none;
  border-radius: 15px;
  font-weight: bold;
  font-size: 1.5rem;
  font-family: 'Sora', sans-serif;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  width: 100%; /* Ocupa el 100% del contenedor */
}

.cta-button:hover {
  background-color: #a09662;
}

.back-button {
  background-color: #23306A;
  color: white;
  padding: 17px 50px; 
  border-radius: 15px;
  font-weight: bold;
  font-size: 1.5rem;
  font-family: 'Sora', sans-serif;
  border: none;
  cursor: pointer;
  margin-top: 10px; 
  width: 100%; 
  display: block; 
  text-align: center;
}

.back-button:hover {
  background-color: #888127;
}

/* Pantalla responsiva */
@media (max-width: 768px) {
  .producto-container {
    padding: 20px;
  }

  .producto-title {
    font-size: 1.8rem;
  }

  .producto-info p {
    font-size: 0.9rem; 
  }

  .counter-button {
    font-size: 1.2rem;
  }

  .counter-display {
    font-size: 1.2rem;
  }

  .cta-button {
    font-size: 1.2rem;
    padding: 10px 20px;
  }

  .back-button {
    font-size: 1.1rem;
    padding: 8px 18px;
  }
}

@media (max-width: 480px) {
  .producto-title {
    font-size: 1.5rem;
  }

  .producto-info p {
    font-size: 0.8rem;
  }

  .cta-button {
    font-size: 1rem;
    padding: 8px 16px;
  }

  .back-button {
    font-size: 1rem;
    padding: 6px 14px;
  }
}


  
  
  